* {
   
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002147; 
    padding: 10px;
    color: #ead8b1;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    color: #ead8b1;
}

nav ul li {
    color: #ead8b1;
    margin-left: 20px;
}

nav ul li a {
    color: #ead8b1;
    text-decoration: none;
}

.hero {
    display: flex;
    align-items: center;
    padding: 50px;
    background-color:#6a9ab0;
}

.hero-content {
    flex: 1;
}

.hero-content h1 {
    font-size: 50px;
    margin: 0;
    color: #001f49
}

.hero-content h2 {
    font-size: 44px;
    margin: 5px 0 20px 0;
    color: #ead8b1;
}

.inquire-btn {
    padding: 10px 20px;
    background-color: #001f49;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: 2px#ead8b1;
    color: #ead8b1;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: #6a9ab0;
    padding: 10px;
    text-align: center;
}
.social-icons {
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}
.social-icons a {
    margin: 0 10px;
    
}

.hobbies-section {
    text-align: center; 
    background-color: #3a6d8c;
    height: 70vh;
}

.hobbies-header {
    background-color:#001f49; 
    display: inline-block; 
    padding: 10px 20px; 
    border-radius: 5px; 
    display: flex; 
    align-items: flex-start; 
    width: 300px;
    margin-left: 10px;
    text-align: center;
   
}

.hobbies-header h1 {
    font-size: 48px; 
    color: #f4e1b1; 
    margin: 0; 
}

.hobbies-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-top: 20px; 
   
}

.hobby {
    background-color:#001f49; 
    color: #f4e1b1; 
    width: 300px; 
    padding: 15px; 
    margin: 10px 0; 
    border-radius: 8px; 
    display: flex; 
    align-items: center; 
    border-color:2px solid #f4e1b1; 
}

.hobby-icon {
    width: 100px; 
    height: auto; 
    margin-right: 10px; 
}


.services-section {
    text-align: center; 
    padding: 40px; 
    height: 70vh;
    background-color:#00204b;
}

.services-header h1 {
    font-size: 50px; 
    color: #ead8b1; 
    margin-bottom: 20px; 
    padding: 10px 20px; 
    border-radius: 5px; 
    background-color: #3a6d8c;
    display: inline-block; 
   height: 10vh;
   text-align: center; 

}

.services-container {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
}

.service {
    background-color:  #3a6d8c; 
    border-radius: 10px; 
    padding: 20px; 
    width: 200px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-align: center; 
    color: #ead8b1; 
    margin-top: 20px;
}

.service-icon {
    width: 100px; 
    height: auto; 
    margin-bottom: 10px; 
}
.line {
    width: 50%; 
    height: 2px;
    background-color: #ffffff; 
    margin: 10px auto; 
}
.service h2 {
    font-size: 20px; 
    margin: 0; 
    margin-top: 10px;
}

